div {
    border: 2px solid gold;
}
/* GRID */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 200px 100px 250px 600px 90px; 
   
}

.logo {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: aqua;
    
}
.navigation {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: orange

}
.header {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: pink;
}
.intro {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: blueviolet

}
.box1 {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: blue;
}
.box2 {
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: red;
    
    
}
.box3 {
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: yellow;
  
}
.footer {
    grid-column: 1/4;
    grid-row: 6/7;
    background-color: green;
}
html,body {

    background-color: gold
 }
 h1 {  
     color:rgb(255, 255, 255) (57, 57, 197);
     font-size: 50px; }
     ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #111010;
     }
     
     li {
       float: left;
     }
     
     li a {
       display: block;
       color: rgb(255, 0, 0);
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
 
     li a:hover:not(.active) {
       background-color: #111;
     }
     
     .active {
       background-color: #ffffff;
     }